body {
    background-color: aliceblue;
    background-image: url("bg.jpg");
    background-size: 100vw 100vh;
    overflow: auto;
}
ul{
    background-color: rgba(245, 245, 220, 0.771);
    margin: 0;
    padding: 0;
    top:o;
    left:0;
    border-radius: 25px;
    max-width: 100%;
    
}
li{
    display: inline-block;
}
li:hover{
    background-color: bisque;
    border-radius: 25px;
}
li a:visited{
    color: rgba(0, 0, 255, 0.526);
}
li a{
    padding: 20px;
    display: block;
}
a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.tit{
    float:right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0%;
    margin-right: 2%;
}
.one{
    position: absolute;
    color: rgba(75, 254, 194, 0.548);
}
.one h3,h4{
    color: rgb(255, 74, 74);
    font-size: 20px;
}
.two{
    position:absolute;
    color: rgb(255, 93, 93);
    margin-top: 20%;
    font-size: 30px;
}
div h1{
    font-size: 100px;
    font-weight: bold;
}
#youtube{
    color: red;
}
#face{
    color:blue;
}
#mail{
    color: brown;
}
.button1{
    position: absolute;
    height: 60px;
    width: 300px;
    background-color: bisque;
    border-radius: 20px;
    border-color: brown;
    font-size: 20px;
    border-width: 5px;
    color: rgb(0, 0, 0);
}
.button1:hover{
    background-color: rgba(222, 184, 135, 0.448);
    color: white;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(245, 245, 220, 0.771);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .footer p{
    font-size: 15px;
  }

  @media only screen and (max-width: 768px) {
    /* Styles for screens less than 768px wide */
    .tit {
      display: none; /* Hide the title on smaller screens */
    }
    .container {
      flex-direction: column; /* Stack images vertically on small screens */
    }
  }

